{% extends 'base-front.html.twig' %}

{% block title %}About{% endblock %}
{% block body %}
<section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h2>About <span></span></h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index-2.html">Acceuil</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}