{% extends 'base-back.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div style="margin-top:100px">
    <ul style="margin-top:100px;margin-left:300px ">
        <div style="display:flex">
        <a style="margin-right:20px" href={{path("app_product_index")}}>All products</a>
        <a href={{path("app_product_new")}}>Add product </a>
        
        </div>
    </ul>


    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>
    </div>
{% endblock %}
